//COLORS

$color-primary: #2c324f;
$color-primary-light: #426075;

$color-secondary: #46b48c;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-light: #ddd;
$color-gray-dark: #888;

$color-red-dark: #bb1f1f;

//GRID 

$grid-width: 150rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 0rem;