@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/button';
@import 'components/card';
@import 'components/pricing-card';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/features';
@import 'layout/testimonial';
@import 'layout/contact-form';

@import 'pages/home';

@import 'themes/theme';
@import 'themes/admin';

@import 'vendors/bootstrap';