.footer-info {
    padding: 2rem 1rem;

    &__copyright p {
        font-size: 1.6rem;
        line-height: 3rem;
        color: $color-gray-dark;
    }

    &__copyright a{
        text-decoration: none;
        color: $color-black;
        transition: .3s;

        &:hover {
            color: $color-secondary;
        }
    }

    &__logo-box {
        position: relative;
        float: right;
        height: 15rem;
        width: 25%;
        font-size: 3rem;
        color: $color-gray-dark;

        @include respond(mobile) {
            width: 35%;
            margin-left: 2rem;
        }
    }

    &__logo-box span {
        width: 100%;
        text-align: center;
    }

    &__logo-box a {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-gray-dark;

            @include respond(mobile) {
                color: $color-gray-dark;
                font-size: 3.6rem;
            }
        }
    }
}