.card-about {
    background-color: $color-white;
    margin: 0.5rem;

    &__image img {
        width: 100%;
        border-radius: 0.7rem;
    }

    &__text {
        position: relative;
    }

    &__text p {
        position: absolute;
        bottom: 8px;
        left: 16px;
        font-size: 1.5rem;
    }
}