.card-about {
    background-color: $color-white;
    margin: 0.5rem;
    position: relative;

    &__image img {
        display: block;
        width: 100%;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
        cursor: pointer;
    }

    &__overlay--blur {
        backdrop-filter: blur(2px);
    }

    &__overlay > * {
        transform: translateY(2rem);
        transition: transform 0.25s;
    }

    &__overlay:hover {
        opacity: 1;
    }

    &__overlay:hover > * {
        transform: translateY(0);
    }

    &__title {
        font-size: 3.0rem;
    }

    &__description {
        font-size: 1.5rem;
        margin-top: 0.5rem
    }
}