*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (10px/16px = 62.5%)
    font-size: 62.5%; // 1rem= 10px

    @include respond(mobile) {
        font-size: 40%;
    }

    @include respond(small-desktop) {
        font-size: 55%;
    }

    @include respond(medium-desktop) {
        font-size: 62.5%;
    }

    @include respond(big-desktop) {
        font-size: 70%;
    }

    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}