.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-big {
    margin-bottom: 4rem;
}

.u-margin-bottom-large {
    margin-bottom: 6rem;
}

.u-padding-bottom-medium {
    padding-bottom: 2rem;
}

.u-padding-bottom-big {
    padding-bottom: 4rem;
}

.u-border-right {
    border-right: 2px solid rgb(240, 238, 238);
}
